# =========================
# Dataset
# =========================
data/raw/*
data/processed/*

# Keep directory structure
!data/raw/.gitkeep
!data/processed/.gitkeep

# Large experiment outputs
results/**/**_oof_predictions.csv
results/**/random_selection_repeats.csv

# =========================
# Model weights / embeddings
# =========================
*.pt
*.pth
*.ckpt
*.safetensors
*.bin

# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.so

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Environment
# =========================
.env
.venv/
venv/

# =========================
# OS / IDE
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/

# =========================
# Logs
# =========================
*.log